<div class="parallax-container">
    <div class="parallax">
        <img class="responsive-img" src="../assets/images/tools.jpg" alt="StuffShare">
    </div>

    {{#each items}}
    <li>{{this.name}}
        <button class="borrow" id={{this.id}}>Borrow</button>
    </li>
    {{/each}}