<div class="parallax-container">
    <div class="parallax">
        <img class="responsive-img" src="../assets/images/tools.jpg" alt="StuffShare">
    </div>

    {{#each items}}
    <h1>Item</h1>
    {{/each}}