<h1>Items Available to Borrow in {{items.[0].dataValues.category}}</h1>


{{#each items}}
    <li>{{this.name}}
        <button class="borrow" id={{this.id}} data-id={{this.UserId}}>Borrow</button>
    </li>
{{/each}}