<div class="container-fluid">	
	<div class="navbar-fixed">
		<nav><div class="nav-wrapper"><h1>Welcome To StuffShare!<h1>
		<p>The community that's built on sharing stuff...<p>
		<input id="email" type="text" placeholder="Email">
		<input id="password" type="password" placeholder="Password">
		<button id="login" type="button" class="btn-default btn-md">Log In</button>
		<button id="newUser" type="button" class="btn-success btn-md" data-toggle="modal" data-target="#userModal">New User</button>
		</div></nav>
	</div>

	<div class="parallax-container">
		<div class="parallax"><img class="responsive-img" src="../assets/images/tools.jpg" alt="StuffShare"></div>

	<!-- Create User Modal -->
	<div id="userModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
		      	<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Create User</h4>
		      	</div>

				<div class="modal-body">
			        <div class="input-group">
			            <input id="newName" type="text" class="form-control" placeholder="Full Name">
			        </div>

			        <div class="input-group">
			            <input id="newEmail" type="text" class="form-control" placeholder="Email">
			        </div>

			        <div class="input-group">
			            <input id="address1" type="text" class="form-control" placeholder="Address 1">
			        </div>

			        <div class="input-group">
			            <input id="address2" type="text" class="form-control" placeholder="Address 2">
			        </div>

			        <div class="input-group">
			            <input id="city" type="text" class="form-control" placeholder="City">
			        </div>

			        <div class="input-group">
			            <input id="state" type="text" class="form-control" placeholder="State">
			        </div>

			        <div class="input-group">
			            <input id="zip" type="text" class="form-control" placeholder="Zip">
			        </div>

			        <div class="input-group">
			            <input id="newPassword" type="password" class="form-control" placeholder="Password">
			        </div>
				</div>

				<div class="modal-footer">
				    <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				    <button id="newUser" type="button" class="btn btn-default" data-dismiss="modal">Create User</button>
				</div>
			</div>
		</div>
	</div>

	<div>
		<button id="menu" type="button" class="btn btn-default btn-md" >
			<span class="glyphicon glyphicon-search"></span>
		</button>
	</div>
	<div>
		<button id="menu" type="button" class="btn btn-default btn-md" >
			<span class="glyphicon glyphicon-tasks"></span>
		</button>
	</div>
	<div>
		<button id="menu" type="button" class="btn btn-default btn-md" >
			<span class="glyphicon glyphicon-user"></span>
		</button>
	</div>
</div>