<div class="container-fluid" style="position: relative;">
	<div class="main" style="position: absolute; z-index: 1; left: 0; top: 0;">
	</div>
	<div class="page-header" style="position: relative; z-index: 2;">
		<div class="jumbotron">
			<h1>Welcome To StuffShare!</h1>
			<p>The community that's built on sharing stuff...</p>
			<p>StuffShare is a web application that helps members locate, share, and borrow items within your local community.
				Perhaps you want to locate a member of your community who's willing to pool resources in the future, or
				maybe you just need that one tool to finish your home project. 
				<br>
				StuffShare is the answer.
				 <br>
				 Find the tool, check it's availability and request to borrow it - all in one place.
				 </p>
			<form action="/api/users/login" method="post">
				<input id="email" for="email" type="text" name="email" placeholder="email" />
				<input id="password" for="password" type="password" name="password" placeholder="password" />

				<input id="login" type="submit" class="btn-default btn-md" value="Log In" />

				<button type="button" class="btn-success btn-md" data-toggle="modal" data-target="#userModal">New User</button>
			</form>
		</div>
	</div> 
	<footer class"footer" style="position: relative; z-index: 2;">
		<p><strong>Created By Max, Matt, Dan & Jason</strong></p>
	</footer>
	<!-- Create User Modal -->
	<div id="userModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Create User</h4>
				</div>
				<div class="modal-body">
					<form action="/api/users/signup" method="post">
						<div class="input-group">
							<input name="name" id="newName" type="text" class="form-control" placeholder="Full Name">
						</div>


						<div class="input-group">
							<input name="email" id="newEmail" type="text" class="form-control" placeholder="Email">
						</div>

						<div class="input-group">
							<input name="address1" id="address1" type="text" class="form-control" placeholder="Address 1">
						</div>

						<div class="input-group">
							<input name="address2" id="address2" type="text" class="form-control" placeholder="Address 2">
						</div>

						<div class="input-group">
							<input name="city" id="city" type="text" class="form-control" placeholder="City">
						</div>

						<div class="input-group">
							<input name="state" id="state" type="text" class="form-control" placeholder="State">
						</div>

						<div class="input-group">
							<input name="zip" id="zip" type="text" class="form-control" placeholder="Zip">
						</div>

						<div class="input-group">
							<input name="password" id="newPassword" type="password" class="form-control" placeholder="Password">
						</div>
				</div>
				<div class="modal-footer">
					<button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-default">Create User</button>
				</div>

				</form>
			</div>
		</div>
	</div>
</div>