body {
  color: white;
    background: url(../images/tools.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  width: 100%;
  min-width: 500px;
  height: auto;
}

h1 {
  font-family: webfontregular;
  font-size: 28px;
  color: orange;
}

h2 {
  font-family: webfontregular;
  color: orange;
}

h3 {
  font-family: webfontregular;
  font-size: 18px;
  margin: 1%;
  padding: 1%;
}

#userName {
  width: 25%;
  font-size: 50px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  color: orange;
  background-color: rgba(255, 255, 255, 0.7);
}

.borrowItems h4, .lentItems h4, .myItems h4 {
  font-size: 40px;
  color: orange;
  text-align: center;
}

.myItems li {
  margin: 20px 0px;
  font-size: 20px;
  margin-left: 100px;
}

.lentItems li {
  margin: 20px 0px;
  font-size: 20px;
  margin-left: 100px;
}

.borrowItems select, .borrowItems button {
  font-size: 25px;
  margin-left: 65px;
}

.myItems .returnItem {
  margin-left: 20px;
}

p {
  font-size: 14px;
  color: orange;
}

footer p {
  font-size: 24px;
  text-align: center;
  padding: 5px 0px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 25%;
}

.jumbotron {
  color: orange;
  font-size: 18px;
  opacity: .85;
  min-width: 350px;
}

.page-header {
  color: orange;
}

.modal-header, h2, .close {
  background-color: #ece9e6;
  color: grey !important;
  text-align: center;
  font-size: 30px;
}

.modal-footer {
  background-color: #f9f9f9;
}

.form-group {
  width: 100%;
}

.button-collapse {
  color: #26a69a;
}

.input-group {
  width: 100%;
  margin: 15px 0px;
}

.myItems {
  float: left;
  display: inline-block;
  width: 31%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.7);
}

.lentItems {
  display: inline-block;
  width: 31%;
  height: 400px;
  margin-left: 55px;
  background-color: rgba(255, 255, 255, 0.7);
}

.borrowItems {
  float: right;
  display: inline-block;
  width: 31%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.7);
}

#borrowHeader {
  color: orange;
  font-size: 50px;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding-bottom: 10px;
}

#itemsAvailable {
  width: 50%;
  margin: auto;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

#itemsAvailable li {
  width: 50%;
  margin: 15px auto;
  font-size: 20px;
  text-align: center;
}

#goBack {
  font-size: 20px;
  padding: 5px;
  margin: auto;
  color: black;
}

#button {
  margin-top: 20px;
  text-align: center;
}


/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }
/* Large devices (desktops, 992px and up */
@media (min-width: 992px) { ... }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }