body {
  color: white;
  background-image: url("../images/tools.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  width: 100%;
  min-width: 500px;
  height: auto;
}

h1 {
  font-family: webfontregular;
  font-size: 28px;
  color: orange;
}

h2 {
  font-family: webfontregular;
  color: orange;
}

h3 {
  font-family: webfontregular;
  font-size: 18px;
  margin: 1%;
  padding: 1%;
}

p {
  font-size: 14px;
  color: orange;
}

footer {
  font-size: 24px;
  color: #ece9e6;
}

.jumbotron {
  color: orange;
  font-size: 18px;
  opacity: .85;
  min-width: 350px;
}

.page-header {
  color: orange;
}

.modal-header, h2, .close {
  background-color: #ece9e6;
  color: grey !important;
  text-align: center;
  font-size: 30px;
}

.modal-footer {
  background-color: #f9f9f9;
}

.form-group {
  width: 100%;
}

.button-collapse {
  color: #26a69a;
}

.input-group {
  width: 100%;
  margin: 15px 0px;
}

/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }
/* Large devices (desktops, 992px and up */
@media (min-width: 992px) { ... }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }