
body {
  background-color: #ece9e6;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: webfontregular;
  font-size: 32px;
}

h2 {
  font-family: webfontregular;
}

h3 {
  font-family: webfontregular;
  font-size: 18px;
  margin: 1%;
  padding: 1%;
}

p {
  font-size: 14px;
}

.parallax {
  height: 5px;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-container {
  background-color: #ece9e6;
}

.container-fluid {
  background-color: #ece9e6;
}

.jumbotron {
  font-family: webfontregular;
}

.title {
background-color: #ece9e6;
width: 100%;
float: left;
}

.modal-header, h2, .close {
  background-color: #ece9e6;
  color: grey !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}

.holder {
border: solid 1px blue;
padding: 0px;
margin: 0px;
float: left;
}

.form-group {
  width: 100%;
}

.button-collapse {
  color: #26a69a;
}

.input-group {
      width: 100%;
      margin: 15px 0px;
}

/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }
/* Large devices (desktops, 992px and up */
@media (min-width: 992px) { ... }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }